# Environment
.env
.env.*
!.env.example

# Node
node_modules/
dist/
coverage/
*.log

# Flutter / Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
build/
coverage/
.pub-cache/
.pub/

# Android
apps/mobile/android/.gradle/
apps/mobile/android/local.properties
*.jks
*.keystore

# iOS
apps/mobile/ios/Pods/
apps/mobile/ios/.symlinks/
apps/mobile/ios/Flutter/ephemeral/

# IDE
.idea/
.vscode/
*.iml

# OS
.DS_Store
Thumbs.db